.mention-list ul {
	border-style: solid;
}

.mention-list li {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	margin-left: 3px;
}

.mention-list .hide-name {
	display: none;
}

.mention-list li img {
	height: 64px;
	width: 64px;
	display: block;
	object-fit: cover;
}

li.emoji-reaction {
	position: relative;
}

.emoji-overlay {
	position: absolute;
	bottom: 0;
	right: 0;
}
